src/main/mule/choicerouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2b42a514-1d80-4405-a858-2c9b60abf4cb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choicerouterFlow" doc:id="8196bee3-ad60-4ee8-991a-6733a59c5713" >
		<http:listener doc:name="Listener" doc:id="ce3594db-0fcf-461a-92f6-b536f593bfcc" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c1ddeb75-c147-4f02-ae5a-1d4c7cda92b4" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="0b7eef40-08b7-4ce2-8d9e-26558d8a7e8c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	originalData: payload,
	message: "Data received successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8d12ce1e-fa4e-4bab-9abd-248fb06fb631" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="e63acb04-bbda-41e2-b6d2-7334b9e0dce3" >
			<when expression="#[(payload.originalData.color == 'red') and (attributes.queryParams.state == 'active')]">
				<logger level="INFO" doc:name="Logger" doc:id="eab2ff31-50a6-4652-bfc2-5a3cce744f1a" message='#["Color is red and state is active"]'/>
			</when>
			<when expression="#[(payload.originalData.color == 'yellow') and (attributes.queryParams.state == 'inactive')]">
				<logger level="INFO" doc:name="Logger" doc:id="c4b90c2b-d06a-42e2-8d9d-a0d29fe2e80c" message="#['Color is yellow and inactive']"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2b9dfffb-aca8-47c9-86e3-27131099e2f0" message="#['Color is except red and yellow, state might be different']"/>
			</otherwise>
		</choice>
	</flow>
</mule>
